<!DOCTYPE html>
<html>
<head>
    <title>Diary of Calm</title>
</head>
<body>
  <nav>
    <a href="{% url 'home' %}">Главная</a>

    {% if user.is_authenticated %}
      | <a href="{% url 'create_entry' %}">Создать запись</a>
      | <a href="{% url 'my_entries' %}">Мои записи</a>
      | <a href="{% url 'logout' %}">Выйти</a>
    {% else %}
      | <a href="{% url 'login' %}">Войти</a>
      | <a href="{% url 'register' %}">Регистрация</a>
    {% endif %}
  </nav>

  <hr>

  {% block content %}{% endblock %}
</body>
</html>
