{% extends 'base.html' %}

{% block content %}
  <h1>Добро пожаловать в "Спокойный дневник" 😊!</h1>
  <h2>Здесь ты можешь каждый день записывать свои мысли, переживания, тревоги, а можешь просто сохранять приятные моменты!🍃🍃🍃</h2>

  {% if user.is_authenticated %}
    <p>Привет, {{ user.username }}!</p>
    <a href="{% url 'my_entries' %}">Перейти к моим записям</a>
  {% else %}
    <p>Пожалуйста, <a href="{% url 'login' %}">войдите</a> или <a href="{% url 'register' %}">зарегистрируйтесь</a>.</p>
  {% endif %}
{% endblock %}
